{% extends "layouts/default.html" %}
<!--  -->
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h4>Vincular uma tarefa com o colaborador</h4>
    <hr />
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">SELECIOONE UMA TAREFA</label>
            <select name="task_id" class="form-control" aria-label=".form-select-sm example" id="btn_task_id">
              {%for item in tasks%}
              <option value="{{item.id}}">{{item.name}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">SELECIONE O FUNCIONÁRIO</label>
            <select name="contributor_id" class="form-control
              aria-label=" .form-select-sm example" id="btn_contributor_id">
              {%for item in contributions%}
              <option value="{{item.id}}">{{item.name}}</option>
              {%endfor%}
            </select>
          </div>
          <button type="submit" class="btn btn-primary" id="btn_submit">
            CADASTRAR
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Listagem das tarefas vinculadas ao usuário</h5>
        <hr>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            {% for item in contributions_tasks %}
            <tr>
              <td>{{item.contribution_id}}</td>
              <td>{{item.contributor_name}}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-xs btn-info"
                  data-toggle="popover"
                  title="Informação"
                  data-content="{{item.task_description}}"
                >
                  <span class="glyphicon glyphicon-eye-open"></span>
                  Visualizar
                </button>
                </td>

            </tr>
            {% endfor %}
            <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
<!--  -->
{% block script %}

<script>
  $(document).ready(function () {
    $(function () {
      $('[data-toggle="popover"]').popover();
    });
    $("form").submit(function (e) {
      e.preventDefault();
      const btn_task_id = $("#btn_task_id").val();
      const btn_contributor_id = $("#btn_contributor_id").val();
      axios
        .post(url_base + "/api/tarefas-colabradores/create", {
          task_id: btn_task_id,
          contributor_id: btn_contributor_id,
        })
        .then((r) => {
          if (r.data.affectedRows == 1) {
            window.location.reload();
          }
        });
    });
  });
</script>

{% endblock %}